{% extends 'base.html' %}

{% block title %}
Armfy
{% endblock %}

{% block style %}
<style></style>
{% endblock %}
{% block barname %}
{% if is_editing %}Editar{% else %}Crear{% endif %} Producto
{% endblock %}
{% block content %}

<div class="mx-card mdl-shadow--4dp mdl-color--white mdl-cell mdl-cell--12-col mdl-grid">
  {% if is_editing %}{%else%}
  <form method="get" id="type_products-form">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
      <input type="text" value="" class="mdl-textfield__input" id="type_products" readonly>
      <input type="hidden" value="" name="type_products" id="hidden_type_products">
      <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
      <label for="type_products" class="mdl-textfield__label">Type Product</label>
      <ul for="type_products" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" onclick="typeProSubmit(this)">
        <li class="mdl-menu__item" data-val="Welding">Welding</li>
        <li class="mdl-menu__item" data-val="ProfileSteel">Steel</li>
      </ul>
    </div>
  </form>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ obj_form.as_p }}

    <button type="submit">{% if is_editing %}Actualizar{% else %}Crear{% endif %}</button>
  </form>
  <a href="{% url 'products:product_list' %}">Volver a la lista</a>

</div>
{% endblock %}

{% block script %}
<script>
  function loadSelect(){
    const url = new URL(window.location.href);
    let param = url.searchParams.get('type_products');
    if (param === null){
      param = 'ProfileSteel'
    }
    const form = document.getElementById('type_products-form');
    const obj =form.querySelector('ul');
    const elementosFiltrados = Array.from(obj.children).filter(li => li.getAttribute('data-val') === param);
    elementosFiltrados[0].setAttribute('data-selected', 'true');
  }
  loadSelect()

  
  function typeProSubmit(obj){
    const inputHidden = document.getElementById('hidden_type_products');
    const form = document.getElementById('type_products-form');
    const url = new URL(window.location.href);
    const param = url.searchParams.get('type_products');
    form.submit()
  }
  

</script>
{% endblock %}